.container {
  width: 100%;
  padding: 0 1rem;
  max-width: 40rem;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: .5rem;
}

.button {
  background-color:#5075a2;
  color: #fff;
  border: 0;
  border-radius: .2rem;
  opacity: .8;
  transition: opacity .2s ease-in-out;
  width: fit-content;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.input {
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid #9ea5b1;
  border-radius: 0.2rem;
}

.button:hover {
  opacity: 1;
}


